flow.json
[{"id":"ae34dbdc.b965b8","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"33149952.6a8ca6","type":"http in","z":"ae34dbdc.b965b8","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["7e3bb109.0cf87"]]},{"id":"c96acf41.4f3d8","type":"http response","z":"ae34dbdc.b965b8","name":"","statusCode":"","headers":{},"x":390,"y":80,"wires":[]},{"id":"7e3bb109.0cf87","type":"template","z":"ae34dbdc.b965b8","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<body>\n<form method=\"POST\" action=\"/file\" enctype=\"multipart/form-data\">\n<input type=\"file\" accept=\"image/*\" capture=\"camera\" name=\"image\" id=\"image\"/>\n<input type=\"submit\" value=\"送信\"/>\n</form>\n</body>\n</html>","output":"str","x":250,"y":80,"wires":[["c96acf41.4f3d8"]]},{"id":"4f7a42cb.f8ebac","type":"http in","z":"ae34dbdc.b965b8","name":"","url":"/file","method":"post","upload":true,"swaggerDoc":"","x":100,"y":180,"wires":[["3b6d759c.f0cf0a"]]},{"id":"8cef21f2.91277","type":"http in","z":"ae34dbdc.b965b8","name":"","url":"/file","method":"get","upload":false,"swaggerDoc":"","x":100,"y":300,"wires":[["ef7ffa5.9889b08"]]},{"id":"3b6d759c.f0cf0a","type":"function","z":"ae34dbdc.b965b8","name":"フォーマット変換","func":"//. アップロードしたファイルを base64 エンコーディング\nvar type = msg.req.files[0].mimetype;\nvar img64 = new Buffer( msg.req.files[0].buffer ).toString( 'base64' );\n\n//. 独自フォーマット化\nmsg.payload.type = type;\nmsg.payload.data = img64;\n\n//. タイムスタンプを追加\nmsg.payload.timestamp = ( new Date() ).getTime();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":180,"wires":[["b85d739f.c1e1d","de7c49a0.41ed58"]]},{"id":"b85d739f.c1e1d","type":"http response","z":"ae34dbdc.b965b8","name":"","statusCode":"","headers":{},"x":470,"y":180,"wires":[]},{"id":"de7c49a0.41ed58","type":"cloudant out","z":"ae34dbdc.b965b8","name":"","cloudant":"","database":"mydb","service":"","payonly":true,"operation":"insert","x":470,"y":240,"wires":[]},{"id":"ef7ffa5.9889b08","type":"cloudant in","z":"ae34dbdc.b965b8","name":"","cloudant":"","database":"mydb","service":"","search":"_id_","design":"","index":"","x":250,"y":300,"wires":[["82f7048f.f3e2b8"]]},{"id":"3520758.f569e8a","type":"http response","z":"ae34dbdc.b965b8","name":"","statusCode":"","headers":{"Content-Type":"image/png"},"x":610,"y":300,"wires":[]},{"id":"82f7048f.f3e2b8","type":"function","z":"ae34dbdc.b965b8","name":"フォーマット変換","func":"//. base64 エンコードされているバイナリデータをデコード\nif( msg.payload && msg.payload.data ){\n  msg.payload = new Buffer( msg.payload.data, 'base64' );\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":300,"wires":[["3520758.f569e8a"]]}]
